source https://api.nuget.org/v3/index.json
source https://dotnet.myget.org/F/msbuild/api/v3/index.json    
source https://dotnet.myget.org/F/roslyn/api/v3/index.json
source https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json

    nuget FSharp.Core prerelease
    nuget FSharp.Net.Sdk
    nuget Microsoft.Build prerelease
    nuget Microsoft.Build.Framework prerelease
    nuget Microsoft.CodeAnalysis
    nuget Microsoft.VisualStudio.ProjectSystem.Managed prerelease
    nuget Microsoft.VisualStudio.ProjectSystem prerelease
    nuget Microsoft.VisualStudio.ProjectSystem.SDK prerelease
    nuget Microsoft.VisualStudio.ProjectSystem.Managed.VS prerelease
    nuget Microsoft.VisualStudio.Shell.15.0 prerelease
    nuget Microsoft.VisualStudio.Shell.Framework prerelease
    nuget Microsoft.VSSDK.BuildTools prerelease